*~
Concept_Detector/tmp/
out_*
Concept_Detector/*_tmp.py
Demo/Features/
Demo/Plot_Results/
Demo/Results/
Demo/tmp_demo.m
Concepts
LSDA/deprecated_fast-lsda-nips
LSDA/deprecated_jhoffman-lsda-b54cafd
LSDA/lsda
